form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
}

form>fieldset{
    /* flex: 1 1 100%; */
   border: 1em solid white;
   width: 100%;
   z-index:500;
   box-sizing: border-box;
   /* display: flex;
   flex-flow: row nowrap; */
   /* -webkit-columns: 2 45%; */
 
}
form>fieldset>legend{
    color: black;
    background-color:white;
    font-size: 1.5em;
    z-index: 1000;
}
input[type=text] {
    width: 30%;
    /* height: 2em; */
    margin: 0.2em;
    text-align: justify;


}
#commandePersonne input[type=text] {
    width: 60%;
    /* height: 2em; */
    margin: 0.2em;
    text-align: justify;
    align-items: flex-start;

}
input[type=email] {
    width: 30%;
    /* height: 2em; */
    margin: 0.2em;
    text-align: justify;

}
input[type=number] {
    width: 10%;
    /* height: 2em; */
    text-align: center;
    margin: 0.2em;


}

label{
    width: 25%;
    display: inline-block;
    padding: 0.3em;

    
}
legend {
    font-size: 1.2em;
}


#commandePersonne {
    display: flex;
    flex-direction: row;
}

.formulaireGauche{
    display: block;
    order:2;
    width: 45%;

}
.formulaireDroite{
    display: block;
    order:2;
    width: 45%;
  
}

.formulaireDroite>input[type=text] {
    height: 10em;

}
.petitLabel {
    width: 10%;
}
.blocFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}

.grandLabel {
    font-size: 1.5em;
    
}

.labelRadio {
    width: 60px;
  
}
.labelRadio2 {
    width: 15%;
  
}
.pointRadio2 {
    width: 10px;
  
}

#validationConditions {
    width: 50%;
}


.bouton {
    border: 1px solid darkblue;
    width: auto;
    height: 10vhx;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    box-sizing: border-box;
    background: #444;
    background: linear-gradient(#555, #2C2C2C);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5),
        0 -1px 0 rgba(255, 255, 255, 0.4);

}


.bouton:hover {
    color: #222;
    background: #555;
    background: linear-gradient(#777, #333);
    cursor: pointer;
}

.bouton:active {
    color: #000;
    background: #444;
    background: linear-gradient(#555, #2C2C2C);
    box-shadow: 1px 1px 10px black inset,
        0 1px 0 rgba(255, 255, 255, 0.4);
}

/* #totalPaiement>label {
    width: 50vw;
} */