form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
}

form>fieldset{
    /* flex: 1 1 100%; */
   border: 1em solid white;
   width: 100%;
   z-index:500;
   box-sizing: border-box;
   /* display: flex;
   flex-flow: row nowrap; */
   /* -webkit-columns: 2 45%; */
 
}
form>fieldset>legend{
    color: black;
    background-color:white;
    font-size: 1.5em;
    z-index: 1000;
}
input[type=text] {
    width: 30%;
    /* height: 2em; */
    margin: 0.2em;
    text-align: justify;


}
#commandePersonne input[type=text] {
    width: 60%;
    /* height: 2em; */
    margin: 0.2em;
    text-align: justify;
    align-items: flex-start;

}
input[type=email] {
    width: 30%;
    /* height: 2em; */
    margin: 0.2em;
    text-align: justify;

}
input[type=number] {
    width: 10%;
    /* height: 2em; */
    text-align: center;
    margin: 0.2em;


}

label{
    width: 25%;
    display: inline-block;
    padding: 0.3em;

    
}
legend {
    font-size: 1.2em;
}


#commandePersonne {
    display: flex;
    flex-direction: row;
}

.formulaireGauche{
    display: block;
    order:2;
    width: 45%;

}
.formulaireDroite{
    display: block;
    order:2;
    width: 45%;
  
}

.formulaireDroite>input[type=text] {
    height: 10em;

}
.petitLabel {
    width: 10%;
}
.blocFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}

.grandLabel {
    font-size: 1.5em;
    
}

label[for=sexeM], label